<label>Customer:</label>
<select name="customer">
    <option value="customer1">customer 1</option>
</select>
<button>+</button>

<br />

<label>Credit Cards:</label>
<select name="creditcard">
    <option>Visa</option>
</select>

<br />

<label>Credit Card Number:</label>
<span><strong>1234</strong></span>

<br />

<label>Credit Card Balance:</label>
<span><strong>1000</strong></span>

<br />

<label>Credit Card Limit:</label>
<span><strong>10000</strong></span>

<br /><br />

<label>Amount to charge:</label>
<input type="number"  />
<button>Charge card</button>
