<label>Customer:</label>
<select [(ngModel)]="customerValue" (change)="onSelect($event.target.value)">
    <option *ngFor="let customer of customers" value={{customer.name}}>
        {{customer.name}}
    </option>
</select>

<br />

<label>Credit Cards:</label>
<select [(ngModel)]="creditCardValue" (change)="onSelectCreditCard($event.target.value)">
    
    <option *ngFor="let creditCard of selectedCustomerLive.creditCards" value={{creditCard.type}}>
        {{creditCard.creditCardNamePlusType}}
    </option>
</select>

<br />

<label>Credit Card Number:</label>
<span><strong>{{creditCardSelected.creditCardNumber}}</strong></span>

<br />

<label>Credit Card Balance:</label>
<span><strong>{{creditCardSelected.balance}}</strong></span>

<br />

<label>Credit Card Limit:</label>
<span><strong>{{creditCardSelected.limitAvailable}}</strong></span>

<br /><br />

<label>Amount to charge:</label>
<input type="number"  />
<button (click)="purchase()" >Charge card</button>
